# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/Local/RaspBerry/www/dist
/Local/RaspBerry/www/tmp
/Local/RaspBerry/www/out-tsc

# dependencies
/Local/RaspBerry/www/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/Local/RaspBerry/www/.sass-cache
/Local/RaspBerry/www/connect.lock
/Local/RaspBerry/www/coverage
/Local/RaspBerry/www/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/Local/RaspBerry/www/typings

# System Files
.DS_Store
Thumbs.db

#Projeto 3d
.FCStd1