<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Pesquisa</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-4">
                        <label>Sistema

                        </label>
                        <select [(ngModel)]="Sistema" class="form-control" (click)="AtuModulos()">
                            <option *ngFor="let item of ListaSistemas" [ngValue]="item">{{item.Nome}}</option>
                        </select>
                    </div>
                    <div class="col-md-4" *ngIf="Sistema">
                        <label>Módulo</label>
                        <select [(ngModel)]="Modulo" class="form-control" (click)="AtuUnidades()">
                            <option *ngFor="let item of ListaModulos" [ngValue]="item">{{item.Nome}}</option>
                        </select>
                    </div>
                    <div class="col-md-4" *ngIf="Modulo">
                        <label>Unidade</label>
                        <select [(ngModel)]="Unidade" class="form-control">
                            <option *ngFor="let item of ListaUnidades" [ngValue]="item">{{item.Unidade}}</option>
                        </select>
                    </div>
                </div>
                <div class="row" *ngIf="Unidade">
                    <div class="col-md-6">
                        <dl>
                            <dt>Início</dt>
                            <dd>{{Unidade.Inicio | date:'dd/MM/yyyy HH:mm'}}</dd>
                            <dt>Término</dt>
                            <dd>{{Unidade.Termino | date:'dd/MM/yyyy HH:mm'}}</dd>
                            <dt>Leituras</dt>
                            <dd>{{Unidade.Leituras}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>De:</label>
                            <input type="date" [(ngModel)]="De" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>De:</label>
                            <input type="date" [(ngModel)]="Ate" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-primary" (click)="GeraGrafico()">Gráfico</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showGrafico">
    <p-chart type="line" [data]="Grafico"></p-chart>
</div>