<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Pesquisa</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-4">
                        <label>Base
                            <span *ngIf="Base" style="margin-left: 10px;"> Tamanho: {{Base.sizeOnDisk}}</span>
                        </label>
                        <select [(ngModel)]="Base" class="form-control" (click)="AtuColecoes()" name="base">
                            <option *ngFor="let item of ListaBases" [ngValue]="item">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4" *ngIf="Base">
                        <label>Coleção</label>
                        <select [(ngModel)]="Colecao" class="form-control" (click)="AtuMedicoes()">
                            <option *ngFor="let item of ListaColecoes" [ngValue]="item">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4" *ngIf="Colecao">
                        <label>Coleção</label>
                        <select [(ngModel)]="Medicao" class="form-control">
                            <option *ngFor="let item of ListaMedicoes" [ngValue]="item">{{item._id}}</option>
                        </select>
                    </div>
                </div>
                <div class="row" *ngIf="Medicao">
                    <div class="col-md-6">
                        <dl>
                            <dt>Início</dt>
                            <dd>{{Medicao.De | date:'dd/MM/yyyy'}}</dd>
                            <dt>Término</dt>
                            <dd>{{Medicao.Ate | date:'dd/MM/yyyy'}}</dd>
                            <dt>Leituras</dt>
                            <dd>{{Medicao.Leituras}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>De:</label>
                            <input type="date" [(ngModel)]="De" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>De:</label>
                            <input type="date" [(ngModel)]="Ate" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-primary" (click)="GeraGrafico()">Gráfico</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showGrafico">
    <p-chart type="line" [data]="Grafico"></p-chart>
</div>